#shop                   { font-size:18px;text-align:left; 
                        }
#shop p                 { padding-left: 100px;padding-top: 40px;
                         }
#shop p:first-child     { font-size:26px; }
#shop p+p               {line-height: 30px;letter-spacing:2px; }


.box1                   { width: 1000px; height: 250px;margin-top: 120px;
                        border-top: 2px solid #ee8ea0;position: relative;}

.box2                   { width: 1000px; height: 250px;
                        border-top: 2px solid #ee8ea0;position: relative; }

.box3                   { width: 1000px; height: 250px;
                        border-top: 2px solid #ee8ea0;position: relative; }

.box4                   { width: 1000px; height: 250px;margin-bottom: 120px;
                        border-bottom: 2px solid #ee8ea0;position: relative;
                        border-top: 2px solid #ee8ea0; }

.map                    {position: absolute;left:885px;bottom:120px;
                        border: solid 2px #acacac;);
                        border-radius: 10px;width: 80px;height: 25px;
                        text-align: center; padding: 2.5px;}